MarkupSafe
numpy
scipy
pandas
nltk
regex
networkx
streamlit
textblob==0.17.1
pip
contractions==0.0.18
bs4
sumy
spacy>=2.2.0,<3.0.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz#egg=en_core_web_sm
