MarkupSafe==1.1.1
numpy>=1.9.2
scipy>=0.15.1
pandas>=0.19
nltk
regex>=2.5.82
networkx==2.3
streamlit==1.2.0
textblob==0.17.1

contractions==0.0.18
bs4
sumy
spacy>=2.2.0,<3.0.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz#egg=en_core_web_sm
